*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    width: 100%;
    height: auto;
}

form 
{
    width: 34%;
    height: 50vw;
    border: 1px solid gray;
    margin: 20px 30vw;
    border-radius: 8px;
}

form h3 
{
    text-align: center;
    margin-top: 30px;
}

form input 
{
    width: 80%;
    height: 3vw;
    border-radius: 8px;
    border: 1px solid gray;
}

form input,
select 
{
    margin-left: 45px;
}

form button 
{
    margin-left: 45px;
    width: 80%;
    height: 3.5vw;
    border-radius: 8px;
    color: black;
    background-color: orange;
    border: none;
    font-size: 16px;
    transition: all 2s ease-in-out;
}

form button:hover,
form button:focus 
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}

form p 
{
    text-align: center;
    margin-top: 20px;
}

form input::placeholder 
{
    padding-left: 10px;
    font-size: 15px;
    color: gray;
    font-weight: 700;
}

form select 
{
    padding: 10px 20px;
    border-radius: 5px;
    color: gray;
    font-weight: 600;
}

form label 
{
    font-size: 20px;
    padding-left: 6px;
    font-weight: 600;
    color: gray;
}

span 
{
    color: orange;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    body {
      /* background-color: blue;
      color: white; */
    }
    form
    {   width: 37% ;
        height: 63vw;
    }
    h3
    {
        margin-top: 10px;
    }
    form input,select
    {
        height: 4vw;
    }
  }
  @media screen and (max-width: 899px) {
    body {
      /* background-color: black;
      color: white; */
    }
    form
    {   width: 37% ;
        height: auto;
    }
    h3
    {
        margin-top: 10px;
    }
    form input,select
    {
        height: 4vw;
    }
  }
  @media screen and (max-width: 814px) {
    body {
      /* background-color: black;
      color: white;
      padding: 0;
      margin: 0;
      box-sizing: border-box; */
    }
    form
    {   width: 100% ;
        height: auto;
        margin: 0;
        border: none;
    }
    h3
    {
        margin-top: 10px;
    }
    form input,select
    {
        height: 7vw;
    }
    button
    {
        padding: 0 5vw;
    }
  }
  @media screen and (max-width: 600px) {
    body {
      background-color: black;
      color: white;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    form
    {   width: 100% ;
        height: auto;
        margin: 0;
        border: none;
    }
    h3
    {
        margin-top: 10px;
    }
    form input,select
    {
        height: 7vw;
    }
    form button 
{
    margin-left: 45px;
    width: 80%;
    height: 7vw;
    border-radius: 8px;
    color: black;
    background-color: orange;
    border: none;
    font-size: 16px;
    transition: all 2s ease-in-out;
}
form p
{
    margin-top: 10px;
}
  }
  @media screen and (max-width: 400px) {
    body {
      background-color: black;
      color: white;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    form
    {   width: 100% ;
        height: auto;
        margin: 0;
        border: none;
    }
    h3
    {
        margin-top: 10px;
    }
    form input,select
    {
        height: 10vw;
    }
    form button 
{
    margin-left: 45px;
    width: 80%;
    height: 9vw;
    border-radius: 8px;
    color: white;
    background-color: orange;
    border: none;
    font-size: 16px;
    transition: all 2s ease-in-out;
}
form p
{
    margin-top: 10px;
}
  }
  @media screen and (max-width: 300px) {
    body {
      background-color: black;
      color: white;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    form
    {   width: 100% ;
        height: auto;
        margin: 0;
        border: none;
    }
    h3
    {
        margin-top: 10px;
    }
    form input,select
    {
        height: 12vw;
    }
    form button 
{
    margin-left: 45px;
    width: 80%;
    height: 12vw;
    border-radius: 8px;
    color: white;
    background-color: orange;
    border: none;
    font-size: 16px;
    transition: all 2s ease-in-out;
}
form p
{
    margin-top: 10px;
}
  }  